/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1639 {
    padding: var(--sectionPadding);
  }
  #services-1639 .cs-container {
    max-width: 107.5rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1639 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #services-1639 .cs-item {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* 32px - 40px */
    padding: clamp(2rem, 5vw, 2.5rem);
    background-color: rgba(255, 255, 255, 0.04);
    display: flex;
    grid-column: span 12;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
  }
  #services-1639 .cs-item:before {
    content: '';
    width: 100%;
    height: 0%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: height .3s;
  }
  #services-1639 .cs-item:hover:before {
    height: 100%;
  }
  #services-1639 .cs-item:hover .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
  #services-1639 .cs-icon {
    width: 3rem;
    height: auto;
  }
  #services-1639 .cs-h2 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 1rem;
    color: var(--bodyTextColorWhite);
    text-align: inherit;
  }
  #services-1639 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: .8;
    text-align: inherit;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #services-1639 .cs-item {
    grid-column: span 6;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1639 .cs-item {
    grid-column: span 3;
  }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #wrapper-1639 {
    background-color: #111926;
    overflow: hidden;
  }
  #sbs-1639 {
    padding: var(--sectionPadding);
    padding-top: 0;
  }
  #sbs-1639 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1639 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-1639 .cs-title {
    margin: 0 0 2.5rem 0;
    color: var(--bodyTextColorWhite);
  }
  #sbs-1639 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  #sbs-1639 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1639 .cs-picture {
    width: 100%;
    height: auto;
    min-height: 26.25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1639 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1639 .cs-stats-group {
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
  }
  #sbs-1639 .cs-stats {
    width: 100%;
    max-width: 39.375rem;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.5rem;
    column-gap: 0.75rem;
  }
  #sbs-1639 .cs-stat {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    grid-column: span 4;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbs-1639 .cs-number {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: left;
    color: var(--bodyTextColorWhite);
    display: block;
    margin: 0 0 0.25rem 0;
  }
  #sbs-1639 .cs-desc {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: 0;
    color: var(--primary);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1639 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1639 .cs-stats-group {
    /* 52px - 90px */
    margin-bottom: clamp(3.25rem, 7vw, 5.625rem);
    /* 60px - 120px */
    padding-top: clamp(3.75rem, 10vw, 7.5rem);
    /* 60px - 80px */
    padding-bottom: clamp(3.75rem, 8vw, 5rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1639 .cs-stats-group:before {
    content: '';
    width: 200vw;
    height: 100%;
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    top: 100%;
    left: -100%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #sbs-1639 .cs-picture {
    height: 100%;
  }
}
                                